{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Carnet de contact</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark ">
            <span class="navbar-brand mb-0 h1 p-2"><a href="{% url 'index' %}"><p style="color: white;">Mon c4rnet</p></a></span>
            <button type="button" class="btn btn-lg">
                <a href="{% url 'users' %}" >
                    <span class="fi fi-rr-address-book" style="font-size: 30px; color: white;"></span>
                </a>
            </button>
        </nav>
    </header>

    <div class="container">
        <div>
            {% for char in charList %}
            <button type="button" class="btn btnChar" style="color: white;" id="{{char}}" value="{{char}}">{{char}}</button>
            <!-- ici ajouter des boutons pour trier sur les lettres -->
            {% endfor %}
        </div>
        <div class="row overflow-auto" style="width:100%" >
            <!-- ici ajouter listes des différents contact avec Nom - prénom -->
            <!-- Button trigger modal -->
            {% for user in usersList %}
            <button data-backdrop="false" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#{{user.getLastName}}{{user.getFirstName}}" style="width: 100%; color: white;">
                {{user.getLastName}} {{user.getFirstName}}
            </button>
            
            <!-- Modal -->
            <div class=" modal fade " id="{{user.getLastName}}{{user.getFirstName}}" tabindex="-1" aria-labelledby="{{user.getLastName}}{{user.getFirstName}}Label" aria-hidden="true" style="background-color: rgba(0,0,0,.0001) !important;">
                <div class="modal-dialog" style="background-color: rgba(0,0,0,.0001) !important;" >
                <div class="modal-content" style="background-color: rgba(0,0,0,.0001) !important;">
                    <div class="modal-header" style="background-color: rgba(0,0,0,.0001) !important;">
                    <h5 class="modal-title" id="{{user.getLastName}}{{user.getFirstName}}Label">{{user.getLastName}} {{user.getFirstName}}</h5>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close" )>X</button>
                    </div>
                    <div class="modal-body" style="background-color: rgba(0,0,0,.0001) !important;">
                        <ul style="font-size: 14px;">
                            <li>email: {{user.getEmail}}</li>
                            <li>téléphone: {{user.getPhone}}</li>
                            <li>adresse: {{user.getAddress}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer" style="background-color: rgba(0,0,0,.0001) !important;">
                        <form action="#" method="post" id="rmForm{{user.getFirstName}}{{user.getLastName}}">
                            <input id="firstnameRMV" name="firstnameRMV" type="hidden" value="{{user.getFirstName}}">
                            <input id="lastnameRMV" name="lastnameRMV" type="hidden" value="{{user.getLastName}}">
                            {% csrf_token %}
                        </form>
                        <button class="btn btn-outline-warning" data-bs-dismiss="modal" type="submit" form="rmForm{{user.getFirstName}}{{user.getLastName}}" value="Submit" name="removeBtn">Supprimer</button>
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class=" modal fade " id="modalError" tabindex="-1" aria-labelledby="modalErrorLabel" aria-hidden="true" style="background-color: rgba(0,0,0,.5) !important;">
            <div class="modal-dialog" style="background-color: rgba(0,0,0,.5) !important;" >
            <div class="modal-content" style="background-color: rgba(0,0,0,.5) !important;">
                <div class="modal-header" style="background-color: rgba(0,0,0,.5) !important;">
                <h5 class="modal-title" id="modalErrorLabel">Erreur</h5>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close" )>X</button>
                </div>
                <div class="modal-body" style="background-color: rgba(0,0,0,.05) !important;">
                    <p style="font-size: 20px;"> Un utilisateur similaire existe déjà </p>
                    <p style="font-size: 20px;"> Ou vous n'avez pas remplis tout les champs</p>
                </div>
                <div class="modal-footer" style="background-color: rgba(0,0,0,.5) !important;">
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
            </div>
        </div>

    </div>

    <div class="row align-self-end algin-bottom fixed-bottom">
        <div class="col align-self-end">
        <button data-backdrop="false" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAdd" style="width: 100%; color: white;">
            Ajouter
        </button>
        </div>
    </div>

    <div class="modal fade " id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true" style="background-color: rgba(0,0,0,.0001) !important;">
        <div class="modal-dialog" style="background-color: rgba(0,0,0,.0001) !important;" >
        <div class="modal-content" style="background-color: rgba(0,0,0,.0001) !important;">
            <form method="post" id="userform">
                <div class="modal-header" style="background-color: rgba(0,0,0,.0001) !important;">
                <h5 class="modal-title" id="modalAddLabel" style="color: white;">Ajouter un contact</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: white; background-color: rgba(0,0,0,.0001) !important;">
                    {% csrf_token %}
                    {{ form.as_ul }}    
                </div>
                <div class="modal-footer" style="background-color: rgba(0,0,0,.0001) !important;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button"  data-bs-dismiss="modal" class="btn btn-success" name="savebtn" id="savebtn">Enregistrer</button>
                </div>
            </form>
        </div>
        </div>
    </div>

</body>

<script>
    $(".btnChar").click(function(event) {   
        // create an AJAX call
        $.ajax({
            data: {char: $(this).val()}, // get the form data
            type: "GET", // GET or POST
            url: "{% url 'users' %}",
            // on success
            success: function (response) {
                location.reload();
            },
            // on error
            error: function (response) {
            }
        });
    });

    $("#savebtn").click(function(event) {   
        // create an AJAX call
        $.ajax({
            data: $("#userform").serialize(), // get the form data
            type: $("#userform").attr('method'), // GET or POST
            url: "{% url 'users' %}",
            // on success
            success: function (response) {
                location.reload();
            },
            // on error
            error: function (response) {
                // alert the error if any error occured
                $("#modalError").modal('show');
            }
        });
    });
 </script>
</html>
